.DS_Store
.vscode
.idea

*.log
*.bin
*.a
*.exe
# the xgo binary
/xgo
/xgo.exe
/test/xgo
/test/xgo.exe

/*.log

/tools/compile-devel
/tools/compile
/tools/build-cache

/go-release
/xgo-release

# generated traces
/runtime/test/**/*.json
/test/**/*.json

# coverage
/covers
cover*.out