# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  check-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Prepare typo config
      run: |
        # Don't correct the word "Incrimental"
        echo -ne '[files]\nextend-exclude = ["**/vendir/**/*"]\n[default.extend-words]\nIncrimental = "Incrimental"\n' > /tmp/typo-config.toml
        cat /tmp/typo-config.toml

    - name: Check spelling of files
      uses: crate-ci/typos@master
      continue-on-error: false
      with: 
        files: ./
        config: /tmp/typo-config.toml
        isolated: true

    - name: Set up Go1.17
      uses: actions/setup-go@v4
      with:
        go-version: '1.17'

    - name: Check Binary Install
      continue-on-error: false
      run: |
          curl -fsSL https://github.com/xhd2015/xgo/raw/master/script/install/install.sh | env INSTALL_TO_BIN=true bash -x
          xgo revision
      
    - name: Build
      run: go build -o /dev/null -v ./cmd/xgo

    - name: Set up Go1.18
      uses: actions/setup-go@v4
      with:
        go-version: '1.18'
    
    # use go1.18 because -trimpath requires it
    - name: Build Release
      run: go run ./script/build-release --include-install-src --include-local
    
    - name: Check Revesion
      run: ~/.xgo/bin/xgo revision

    - name: Check Go Version
      run: ~/.xgo/bin/xgo exec go version